body {
    background-color: #e7e4e1;
}

.container {
    height: 800px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}

body {
    margin: 30px 0 0;
}
.bg {
    background: #373037 none repeat scroll 0 0;
    height: inherit;
    margin: 50px 260px;
    overflow: hidden;
    position: relative;
    z-index: 10000;
}
.shade {
    background: #fff none repeat scroll 0 0;
    height: 70px;
    left: -150px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    width: 100%;
    z-index: 1000;
}
.pinkshade {
    background: #FD4587 none repeat scroll 0 0;
    height: 70px;
    left: -150px;
    opacity: 1;
    position: absolute;
    top: 1px;
    transform: rotate(-45deg);
    width: 100%;
}

h1 {
    font-family: sans-serif;
    font-size: 200px;
    margin: 69px 422px;
    position: relative;
    color: #fff;
}
.size {
    font-family: sans-serif;
    font-size: 75px;
    margin: -64px 115px;
    position: absolute;
    color: #FD4587;
}
.css {
    font-family: sans-serif;
    font-size: 75px;
    margin: 2px 488px;;
    position: absolute;
    color: #FD4587;
}

.bullets {
    font-family: sans-serif;
    font-size: 20px;
    margin: 324px 23px;
    position: relative;
    color: #fff;
}

p {
    font-family: sans-serif;
    font-size: 24px;
}